:root,
page {
  --nut-button-large-height: 90rpx;
  --hw-primary-color: #8153fe;
  --hw-primary-bg-color: #f5f5f5;
}

.__bindMobilePopup {
  width: 80%;
  padding: 30rpx;
  box-sizing: border-box;

  .nut-button__wrap > view {
    display: flex;
    align-items: center;

    image {
      width: 48rpx;
      height: 48rpx;
      margin-right: 20rpx;
    }
  }

  .title {
    font-size: 32rpx;
    margin-bottom: 30rpx;
    text-align: center;
    color: #666;
    font-weight: 500;
  }

  .tips {
    color: #6b6b6b;
    font-size: 30rpx;
    font-weight: 500;
    margin-bottom: 50rpx;
  }
}

.__rechargePopupWrap {
  .customAmount {
    box-sizing: border-box;
    padding: 0 30rpx;
    .nut-input {
      background: transparent !important;
      padding-left: 10rpx !important;
      padding-right: 10rpx !important;
      margin-bottom: 20rpx;

      input {
        font-size: 36rpx !important;
      }
    }

    .nut-button {
      margin-top: 40rpx;
    }
  }
}

.__title {
  font-size: 34rpx;
  color: #333;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 10rpx;
    height: 50%;
    border-radius: 50%;
    background: var(--hw-primary-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20rpx;
  }
}

.nut-empty {
  height: 100%;
  margin: auto;

  .nut-empty__box {
    width: 195rpx;
    height: 128rpx;
  }

  .nut-empty__description {
    margin-top: 30rpx;
  }
}

.nut-tabbar__placeholder {
  .nut-tabbar {
    height: 120rpx !important;

    .nut-tabbar-item {
      align-items: flex-end;

      .custom-tabbar-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        label {
          color: #757575 !important;
          font-weight: 550;
          margin-top: 12rpx;
        }

        &.me {
          image {
            width: 37rpx;
            height: 43rpx;
          }
        }

        &.home {
          image {
            width: 41rpx;
            height: 43rpx;
          }
        }

        &.active {
          label {
            color: var(--hw-primary-color) !important;
          }
        }
      }

      .nut-animate {
        &::after {
          width: 100%;
          height: 100%;
        }
      }

      .scan {
        width: 142rpx;
        height: 156rpx;
        margin: 0;
        padding: 0;
        background: transparent !important;
        border: none !important;

        &::after {
          border: none;
        }

        image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.nut-divider {
  color: #ddd !important;
}

.richtext {
  ::v-deep() {
    .div,
    .p,
    .strong,
    .ul {
      background-color: transparent !important;
      color: #333 !important;
      font-size: 28rpx !important;

      .span {
        font-size: 28rpx !important;
      }
    }

    .li {
      background-color: transparent !important;
      color: #666 !important;
      font-size: 28rpx !important;

      .span {
        font-size: 28rpx !important;
      }
    }

    .h1,
    .h2,
    .h3 {
      background: transparent !important;
      font-weight: 550;
    }

    .h1 {
      font-size: 40rpx;
    }
    .h2 {
      font-size: 36rpx;
    }
    .h3 {
      font-size: 32rpx;
    }

    .img {
      width: 100% !important;
    }
  }
}

.__babyPopup {
  ::v-deep() {
    .nut-popup {
      background: #f7f9fc !important;

      .baby-item {
        border-bottom: 2rpx solid #f2f2f2;
        padding-bottom: 20rpx;
      }
    }
  }
}

.popupWrap {
  padding-top: 40rpx;

  &.userNotes {
    padding-top: 80rpx;

    .popup-inner {
      padding: 0;
      border-bottom: none;

      .richtext {
        padding: 0 40rpx;
        box-sizing: border-box;
        height: 70vh;
        padding-bottom: 10vh;
        overflow-y: scroll;
      }

      & > .footer-action {
        width: 100%;
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: calc(env(safe-area-inset-bottom) + 20rpx);
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        button {
          width: 50%;
        }
      }
    }
  }

  .popup-inner {
    padding: 20rpx 40rpx;
    box-sizing: border-box;
    border-bottom: 2rpx solid #f5f5f5;

    &.coupon {
      margin-top: 20rpx;
      display: flex;
      flex-direction: column;
      row-gap: 20rpx;
      height: 50vh;
      overflow-y: scroll;
    }

    &.baby {
      max-height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20rpx 0;

      .baby-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 15rpx;
        max-height: 40vh;
        overflow-y: scroll;
        padding: 50rpx 20rpx;

        .baby-item {
          .inner {
            background: #fff;
            height: 12vh;
            padding: 0 20rpx;
            border: 2rpx solid var(--hw-primary-color);
            box-sizing: border-box;
            border-radius: 10rpx;

            .top {
              column-gap: 10rpx;

              .name {
                font-size: 30rpx;
              }
            }
          }
        }
      }

      .action {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 2rpx solid #f5f5f5;
        padding-top: 20rpx;

        button {
          width: 90% !important;
        }
      }
    }

    &.pay {
      .pay-action {
        display: flex;
        flex-direction: column;
        row-gap: 20rpx;
        border-top: 2rpx solid #f5f5f5;
        padding-top: 20rpx;
        color: #666;

        .nut-checkbox__label {
          margin-left: 10rpx;
        }
      }
    }
  }
}

.orderType {
  position: absolute;
  top: 0;
  right: 0;
  width: 130rpx;
  height: 45rpx;
  border-top-right-radius: 15rpx;
  border-bottom-left-radius: 15rpx;
  line-height: 45rpx;
  text-align: center;
  font-size: 24rpx;
  font-weight: 550;

  &.type1 {
    background: rgba(129, 83, 254, 0.1);
    color: #8153fe;
  }

  &.type2 {
    background: rgba(220, 35, 149, 0.1);
    color: #dc2395;
  }

  &.type3 {
    background: rgba(57, 220, 35, 0.1);
    color: #16da30;
  }
}
